body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav h1 {
    font-family: "lato", sans-serif;
    font-weight: bold;
}

.nav {
    background-color: whitesmoke;
    position: sticky;
    top: 20px;
    border-radius: 30px;
    box-shadow: 2px 2px 5px gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1000;
}

ul {
    display: flex;
    list-style: none;
    font-family: "lato", sans-serif;
    font-weight: bold;
    gap: 30px;
    
}

a{
    text-decoration: none;
    color: black;
}
